<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/653678f247.js" crossorigin="anonymous"></script>
    <title>LIST DETAILS</title>
</head>
<body>
    <div class="container_list">
        <div class="home2">
            <button id="arrow"><i class="fa-solid fa-arrow-left-long"></i></button>
            <p>NEW LIST</p>
            <button id="add_user"><i class="fa-solid fa-user-plus"></i></button>
        </div>
        <div class="plus">
            <i id="plusb" class="fa-solid fa-plus"></i>
        </div>
        <div class="block">
            <div class="ob11">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS</p>
                <input name="quantity" type="text">
                <select name="units" id="unit" p>
                    <option value="none"></option>
                    <option value="l">l</option>
                    <option value="kg">kg</option>
                </select>
            </div>
            <div class="ob12">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS2</p>
                <input name="quantity" type="text">
                <select name="units" id="unit">
                    <option value="none"></option>
                    <option value="l">l</option>
                    <option value="kg">kg</option>
                </select>
            </div>
            <div class="ob21">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS3</p>
                <input name="quantity" type="text">
                <select name="units" id="unit">
                    <option value="none"></option>
                    <option value="l">l</option>
                    <option value="kg">kg</option>
                </select>
            </div>
            <div class="ob22">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS4</p>
                <input name="quantity" type="text">
                <select name="units" id="unit">
                    <option value="none"></option>
                    <option value="l">l</option>
                    <option value="kg">kg</option>
                </select>
            </div>
            <div class="ob23">
                <button id="check"><i class="fa-regular fa-circle-check"></i></button>
                <p>NAPIS5</p>
                <input name="quantity" type="text">
                <select name="units" id="unit">
                    <option value="none"></option>
                    <option value="l">l</option>
                    <option value="kg">kg</option>
                </select>
            </div>
        </div>
    </div>
</body>