<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/653678f247.js" crossorigin="anonymous"></script>
    <title>MY LIST</title>
</head>
<body>
    <div class="container_list">
        <div class="home">
            <p>MY LIST</p>
            <button id="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </div>
        <div class="plus">
            <i id="plusb" class="fa-solid fa-plus"></i>
        </div>
        <section class="list">
            <div id="list1"> 
                <input name="text" type="text" maxlength="16" placeholder="NEW LIST">
                <button id="add"><i class="fa-solid fa-plus"></i></button>
                <button id="delete"><i class="fa-solid fa-trash"></i></button>
            </div>
        </section>
    </div>
</body>