<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
    <title>REGISTER</title>
</head>
<body>
    <div class="container">
        <div class="logo2">
            <img src="public/img/logo.svg">
        </div>
        <div class="register-container">
            <p id="create">Create an account</p>
            <form>
                <input name="email" type="email" placeholder="email">
                <input name="login" type="text" placeholder="login">
                <input name="password" type="password" placeholder="password">
                <input name="repeat_password" type="password" placeholder="repeat password">
                <button id="button1">CREATE</button>
            </form>
    </div>
</body>