<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/653678f247.js" crossorigin="anonymous"></script>
    <title>SEARCH</title>
</head>
<body>
    <div class="container_list">
        <div class="home2">
            <button id="arrow"><i class="fa-solid fa-arrow-left-long"></i></button>
            <input name="search" type="search" placeholder="Add product">
        </div>
        <div class="block2">
            <div class="ob11">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS</p>
            </div>
            <div class="ob12">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS2</p>
            </div>
            <div class="ob21">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS3</p>
            </div>
            <div class="ob22">
                <button id="check"><i class="fa-regular fa-circle"></i></button>
                <p>NAPIS4</p>
            </div>
            <div class="ob23">
                <button id="check"><i class="fa-solid fa-circle-plus"></i></i></button>
                <p>NAPIS5</p>
            </div>
        </div>
    </div>
</body>